@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap'); /*Madimi*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Madimi One", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(4, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    gap: 10px;
}

button {
    background-color: rgb(4, 253, 253) ;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 3px;
}

button:hover {
    background-color: rgb(3, 129, 129) 
}