@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Righteos", cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: rgb(245, 140, 245);
    gap: 50px;
    font-size: 50px;
    overflow: scroll;
}
h2 {
    color:red;
}
.ex {
    background-color: rgb(187, 75, 215);
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#apertar {
    background-color: rgb(215, 75, 75);
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cli {
    background-color: rgb(75, 171, 215);
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#duasvezes {
    font-size: 50px;
    color: blue;
}

#redimi {
    font-size: 50px;
    color: blue;
}

#div2 {
    background-color: rgb(215, 143, 75);
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#maisduas {
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#botaodois {
    background-color: rgba(6, 0, 7, 0.144);
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#duasvezes {
    font-size: 30px;
    color: rgb(75, 1, 56);
}

#estiselecao {
    background-color: rgb(75, 215, 75);
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}