@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
* {
  font-family: "Lora", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #cdc6c6;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Título {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: green;
  color: yellow;
  font-size: 70px;
  height: 150px;
  width: 2000px;
}
.tentativa {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.texto {
  display: flex;
  background-color: #fefe86;
  color: green;
  text-align: center;
  align-items: flex-start;
  font-size: 43px;
  height: 1472px;
  width: 1000px;
  font-weight: bold;
}
.exemplo {
  display: grid;
  background-color: #fda43f;
  grid-template-columns: 400px 400px 400px;
}
.exemplo >div {
  font-size: 70px;
  border: #ff600a 2px solid;
  border-radius: #b76624 5px;
  background-color: #fdc686;
  color: #402602;
  padding: 1em;
  font-weight: bold;
}

