@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #a4f6c5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.conteiner-informaçoes {
    background-color: #bfffdd;
    width: 50%;
    height: 70%;
    padding: 3%;
    border-radius: 15px;
    box-shadow: 10px 10px 20px #52d97b;
    cursor: none;
}

.conteiner-informaçoes:hover {
    box-shadow: 10px 10px 20px #6de394;
}

.titulo {
    color: #ee14c8; 
    display: flex;
    justify-content: center;
    font-family: "Inria Serif", serif;
    font-weight: bold;
    font-style: italic;
}

.texto {
    font-family: "Poppins",sans-serif;
    padding: 3%;
    font-size: 18px;
    font-weight: 500;
    margin: 3%;
}

ul {
    list-style-type: square;
}

a {
    text-decoration: none;
    color: white;
}


.voltar {
    border: none;
    border-radius: 15px;
    background-color: #f757e4ab;
    font-weight: bold;
    font-size: 20px;
    color: white;
    font-family: "Inria Serif", serif;
    font-style: italic;
    cursor: pointer;
    padding: 10px;
    margin-right: 10%;
    width: 32%;
    box-shadow: 5px 5px 10px rgb(205, 205, 247);
}

.avancar {
    border: none;
    border-radius: 15px;
    background-color: #f757e4ab;
    font-weight: bold;
    font-size: 20px;
    color: white;
    font-family: "Inria Serif", serif;
    font-style: italic;
    cursor: pointer;
    padding: 10px;
    margin-left: 16%;
    box-shadow: 5px 5px 10px rgb(205, 205, 247);
}