@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    background-color: #ccff33;
    width: 100vw;
    height: 100vh;
}

/* CAPA */

#capa {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffcc33;
    padding: 75px 30px 30px 30px;
    font-size: 50px;
    color: #ff3366;
}

#cabecalho {
    position: fixed;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 8px 10px 8px 10px;
    background-color: #ccff33;
    width: 100%;
    border-bottom: solid 1px #ff3366;
}

#cabecalho img {
    border-radius: 50%;
    width: 5%;
    height: 5%;
}

#logo {
    border-radius: 50%;
    width: 2.5%;
    height: 2.5%;
}

#botoes {
    display: flex;
    gap: 32px;
    font-size: 80%;
    cursor: pointer;
}

#cabecalho a {
    text-decoration: none;
    color: #b8008a;
    font-weight: bold;
}

#cabecalho a:hover{
    transition: 0.3s;
    border-bottom: solid 3px #b8008a;
    outline:none;
}

/* INTRODUÇÃO */

#intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #b877a8;
    font-family: "Open Sans", sans-serif;
    color: white;
    padding: 30px   ;
}

#texto-intro h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: #ffcc33;
    font-size: 60px;
}

#texto-intro {
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
}

img {
    width: 50%;
    height: 50%;
    border-radius: 0px 20px 0px 20px;
}

/* HOBBIE 1 */

#hobbie1 {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    color: black;
    width: 100%;
}

#texto-hobbie1 h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: #b8008a;
    font-size: 60px;
}

#texto-hobbie1 {
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
}

/* HOBBIE 2 */

#hobbie2 {
    background-color: #b877a8;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    color: white;
    width: 100%;
}

#texto-hobbie2 h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: #ffcc33;
    font-size: 60px;
}

#texto-hobbie2 {
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
}

/* FOOTER */

footer {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10%;
    font-size: 10px;
}

/* VOLTAR AO TOPO */

.voltar-topo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 8%;
    height: 5%;
    color: white;
    background-color: #b877a8;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    box-shadow: 2.5px 2.5px 5px gray;
    border-radius: 20px;
    cursor: pointer;
}

.voltar-topo:hover {
    border: 2px solid #ffcc33;
    color: #ffcc33;
    box-shadow: 2.5px 2.5px 5px #ccff33;
}