@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #b4dfb3;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #cde4b3;
    padding: 30px;
    border-radius: 10px;
    box-shadow: #69d0b3 5px 5px 10px;
    gap: 50px;
}

.titulo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

button{
    background-color: #d9cf85;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 5px 5px 10px gray;
    
}
